.item-1 {
  background-image: url(img/1.jpg);
}

.item-2 {
  background-image: url(img/2.jpg);
}

.item-3 {
  background-image: url(img/3.jpg);
}

.item-4 {
  background-image: url(img/4.jpg);
}

.item-5 {
  background-image: url(img/5.jpg);
}

.item-6 {
  background-image: url(img/6.jpg);
}

.item-7 {
  background-image: url(img/7.jpg);
}

.item-8 {
  background-image: url(img/8.jpg);
}

.item-9 {
  background-image: url(img/9.jpg);
}

.item-10 {
  background-image: url(img/10.jpg);
}
